/* Mobile min-width: 390 px */
/* tablet min-width: 768px */
/* laptop min-width: 1024 */

*{
    box-sizing: border-box;
    border: 0 solid var(--border-color);
    line-height: 1.5;
    font-family: inter, Helvetica, sans-serif;
}
html {
    interpolate-size: allow-keywords;
}
.header-page{
    padding-left: 11em;
    position: sticky;
    top: 0;
    background-color: #ffff;
    width: 100%;

    /* mobile */
    @media (min-width: 390px) {
        padding-left: 0;
    }
    /* tablet */
    @media (min-width: 750px){
        padding-left: 0;
    }
    /* laptop */
    @media (min-width: 1024px ){
        padding-left: 13em;
    }
}
.header-vacture-page{
    display: flex;
    justify-content: center;
}
.p-text{
    display: flex;
    justify-content: center;
    color: #5f5f62
    /* line-height: 1.5em;
    min-width: 48ch;
    max-width: 72ch;
    font-size: 16px;
    font-weight: 500; */
}
.werktijden-green{
    color: var(--primary-color);
}
h1{
    color: var(--dark-text);
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.card-jobs{
    width: 450px;
    border: 2px solid var(--primary-color);
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px var(--border-color);
    margin: 1em;
    padding: 1em;
    text-align: center;
    margin-top: 5em;
}
.job-info{
    color: var(--dark-text);
    display: flex;
    margin: 5px;
    margin-left: 0;
    /* gap: 55px; */
    justify-content: space-between;
}

.job-title {
    max-width: 16rem;
}

.title-new{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    border: 1px solid var(--border-color); 
    border-radius: 1.5em;
    width: 7em;
    padding: 10px 10px 10px 10px;
    background-color: #ebf7f3;
}
/* sales support medewerker (urgent) */
.title-urgent{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF5900;
    border: 1px solid var(--border-color); 
    border-radius: 1.5em;
    width: 7em;
    padding: 10px 10px 10px 10px;
    background-color: #FFF3ED;
}

.job-title p{
    color: #5f5f62;
}

.employment-primary-info li{
    display: flex;
    margin: 5px;
    gap: 10px;
}
.primary-info{
    border: 0px solid var(--border-color);
    background-color: var(--primary-color);
    color: var(--light-text);
    font-weight: 400;
    padding: 0.7em 1em;
    margin: auto;
    border-radius: 10px;
    align-self: center;
    font-weight: 400;
    width: 6em;
}
@supports (interpolate-size: allow-keywords) {
    details{
        margin-top: 40px;
        overflow: hidden;
    }

    details::details-content{
        block-size: 0;
        transition: block-size 1s;

        transition: 
            block-size 1s, 
            content-visibility 1s allow-discrete;
    }
    details:open::details-content{
        block-size: auto;
    }
}

summary{
    list-style: none;
}

summary::-webkit-details-marker {
  /* Hides marker on Safari */
  display: none;
}
summary::after {
  content:"Toon meer";
}

details[open] summary::after {
  content:"Toon minder";

}

.click-for-more{
    background-color: var(--light-text);
    color: var(--primary-color);
    border: 2px var(--secondary-background-color);
    box-shadow: 1px 1px 1px 1px var(--border-color);
    cursor: pointer;
    border-radius: 8px;
    width: 115px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    transition: 0.6s;

    &:hover{
        background-color: var(--primary-color);
        color: var(--light-text);
    }
}

.info-vacancy{
    color: var(--dark-text);
    display: flex;
    justify-content: center;
    margin-top: 15px;
    line-height: 1.5;
    font-size: 16px;
    min-width: 48ch;
    max-width: 72ch;
    font-weight: 400;
}
.employment-secondary-info{
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 35px;
    gap: 30px;

}
.secondary-info{
    border: 0px solid var(--border-color);
    background-color: var(--primary-color);
    color: var(--light-text);
    padding: 0.7em 1em;
    border-radius: 10px;
    align-self: center;
    width: 6em;
    /* display: flex;
    margin: 5px;
    gap: 10px; */
}
.view-vacancy{
    text-decoration: none;
    background-color: var(--light-text);
    color: var(--primary-color);
    border: 2px var(--secondary-background-color);
    box-shadow: 1px 1px 1px 1px var(--border-color);
    cursor: pointer;
    border-radius: 8px;
    width: 115px;
    margin: 20px;
    padding: 10px 10px 10px 10px;
    transition: 0.6s;

    &:hover{
        background-color: var(--primary-color);
        color: var(--light-text);
    }
}

/* detail page */
.text-heading{
    font-size: var(--font-size-h1);
}
.function-proper-info{
    border: 0px solid var(--border-color);
    background-color: var(--primary-color);
    color: var(--light-text);
    font-weight: 400;
    padding: 0.7em 1em;
    border-radius: 10px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.card-body{
    border: 0px solid var(--border-color);
    width: 60em;
    height: 111em;
    border-radius: 2px;
    margin: auto;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    min-width: 48ch;
    max-width: 72ch;
}
/* formulier */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid var(--border-color); 
  border-radius: 4px;
  margin-top: 10px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
    border: 0px var(--border-color);
    background-color: var(--primary-color);
    color: var(--light-text);
    font-weight: 400;
    padding: 0.7em 1em;
    border-radius: 10px;
    align-self: center;
    font-weight: 400;
    width: 6em;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px var(--border-color);
    transition: 0.6s;

    &:hover{
        background-color: #EBF7F3;
        color: var(--primary-color)
    }
}
.container-apply {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* pop-up "successfully applied" */
.apply-succes{
    position: fixed;
    top: 8em;
    bottom: 26em;
    left: 15em;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 650px;
    max-width: 100%;
    text-align: center;
    color: var(--light-text);
    visibility: hidden;
}
/* footer */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
footer{
    margin-top: auto;
    background-color: #101827;
    padding: 60px 10%;
    color: var(--primary-color);
}
nav{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    text-decoration: none;
}
.footer-col h3{
    position: relative;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
}
.footer-col h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 40px;
}
ul li a{
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--border-color);
    transition: 0.4s;
    
}
ul li a:hover{
    color: var(--primary-color);
    padding-left: 2px;
}
