/* Mobile min-width: 390 px */
/* tablet min-width: 768px */
/* laptop min-width: 1024 */

*{
    box-sizing: border-box;
    border: 0 solid var(--border-color);
    line-height: 1.5;
    /* even na vragen */
    scroll-margin: 5rem;
}
html {
    interpolate-size: allow-keywords;
}
body{
    margin-top: 40px;
    /* mobile */
    @media (min-width: 390px) {
        padding-left: 0;
    }
    /* tablet */
    @media (min-width: 750px){
        padding-left: 0;
    }
    /* laptop */
    @media (min-width: 1024px ){
        padding-left: 13em;
    }
}
.header-werktijden,
.header-text{
    display: flex;
    justify-content: center;
    line-height: 1.5em;
    min-width: 48ch;
    max-width: 72ch;
    font-size: 16px;
}
.header-text{
    background-color: violet;
    line-height: 1.5em;
    min-width: 48ch;
    max-width: 72ch;
    font-size: 16px;
    font-weight: 500;
}
.werktijden-green{
    color: var(--primary-color);
}
h1{
    color: var(--dark-text);
}

.card-container{
    width: 450px;
    border: 2px solid var(--primary-color);
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px var(--border-color);
    margin: 1em;
    padding: 1em;
    text-align: center;
    margin-top: 5em;
}
.job-header{
    color: var(--dark-text);
    display: flex;
    margin: 5px;
    margin-left: 0;
    gap: 70px;
}
.title-new{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    border: 1px solid var(--border-color); 
    border-radius: 1.5em;
    width: 7em;
    padding: 10px 10px 10px 10px;
    background-color: #EBF7F3;
}
.job-title p{
    color: #5F5F62;
}

.employment-primary-info li{
    display: flex;
    margin: 5px;
    gap: 10px;
}
.primary-info{
    border: 0px solid var(--border-color);
    background-color: var(--primary-color);
    color: var(--light-text);
    font-weight: 400;
    padding: 0.7em 1em;
    border-radius: 10px;
    align-self: center;
    font-weight: 400;
    width: 6em;
}
details{
    margin-top: 40px;
    overflow: hidden;
}

details::details-content{
    /* block-size: 0;
    transition: block-size 1s; */
}
details:open::details-content{
    /* block-size: auto; */
}

summary{
    list-style: none;
}

summary::-webkit-details-marker {
  /* Hides marker on Safari */
  display: none;
}
summary::after {
  content:"Toon meer";
}

details[open] summary::after {
  content:"Toon minder";

}

.click-for-more{
    background-color: var(--light-text);
    color: var(--primary-color);
    border: 2px var(--secondary-background-color);
    box-shadow: 1px 1px 1px 1px var(--border-color);
    cursor: pointer;
    border-radius: 8px;
    width: 115px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    transition: 0.6s;

    &:hover{
        background-color: var(--primary-color);
        color: var(--light-text);
    }
}

ul{
    list-style: none;
}
.info-vacancy{
    color: var(--dark-text);
    display: flex;
    justify-content: center;
    margin-top: 15px;
    line-height: 1.5;
    font-size: 16px;
    min-width: 48ch;
    max-width: 72ch;
    font-weight: 400;
}
.employment-secondary-info{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 10px;

}
.secondary-info{
    border: 0px solid var(--border-color);
    background-color: var(--primary-color);
    color: var(--light-text);
    padding: 0.7em 1em;
    border-radius: 10px;
    align-self: center;
    width: 6em;
    /* display: flex;
    margin: 5px;
    gap: 10px; */
}
.view-vacancy{
    text-decoration: none;
    background-color: var(--light-text);
    color: var(--primary-color);
    border: 2px var(--secondary-background-color);
    box-shadow: 1px 1px 1px 1px var(--border-color);
    cursor: pointer;
    border-radius: 8px;
    width: 115px;
    margin: 20px;
    padding: 10px 10px 10px 10px;
    transition: 0.6s;

    &:hover{
        background-color: var(--primary-color);
        color: var(--light-text);
    }
}

/* detail page */

/* formulier */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid var(--border-color); 
  border-radius: 4px;
  margin-top: 10px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
    border: 0px var(--border-color);
    background-color: var(--primary-color);
    color: var(--light-text);
    font-weight: 400;
    padding: 0.7em 1em;
    border-radius: 10px;
    align-self: center;
    font-weight: 400;
    width: 6em;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px var(--border-color);
    transition: 0.6s;

    &:hover{
        background-color: #EBF7F3;
        color: var(--primary-color)
    }
}


.container-apply {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Section information "klantadviseur" */
.section-info-klantadviseur{
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
footer{
    margin-top: auto;
    background-color: #101827;
    padding: 60px 10%;
    color: var(--primary-color);
}
nav{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    text-decoration: none;
}
.footer-col h3{
    position: relative;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
}
.footer-col h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 40px;
}
ul li a{
    display: block;
    min-height: 1px;
    width: 100%;
}